<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEC | Ranger Events</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
        integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"
        integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./node_modules/vanilla-toast/vanilla-toast.js"></script>
    <link rel="stylesheet" href="./node_modules/vanilla-toast/vanilla-toast.css">
</head>

<body>
    <!-- <script src="/SiteElements/js/vanilla-toast/vanilla-toast.js"></script> -->


    <script src="/SiteElements/js/vanilla-toast/vanilla-toast.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2">
        window.addEventListener('keydown', function (e) {
            if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                    e.preventDefault();
                    return false;
                }
            }
        }, true);
    </script>
    <!-- Dev script <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

    <div id="contentTypesContainer">
        <!-- ID for this element must match the created VUE object instance -->
        <div v-if="showPaginationTop && !showSelectedItem" class="mt-1 mb-1">
            <!-- Will show if the showPaginationTop is set to 'true' -->
            <nav aria-label="Results data navigation">
                <!-- Pagination buttons above results -->
                <div class="pagination">
                    <!-- Additional div necessary for Bootstrap 2 -->
                    <ul class="pagination flex-wrap">
                        <!-- removed the pagination and mb-0 classes for BS2 -->
                        <li class="page-item" v-bind:class="{ disabled: currentPageIndex == 0 || loading }"><button
                                type="button" class="page-link" v-on:click="previousPage">Previous</button></li>
                        <li v-if="showFirstLastBtns" class="page-item">
                            <!-- Can be set to show/hide by setting the showFirstLastBtns to true/false -->
                            <button class="page-link" type="button" aria-label="Next" v-on:click="goToPage(1)">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        <li v-if="showPageBtns" v-for="pageBtn in pageBtns" class="page-item"
                            v-bind:class="{ active: currentPageIndex == pageBtn.pageNum - 1 }"><button class="page-link"
                                type="button" v-on:click="goToPage(pageBtn.pageNum)">{{ pageBtn.pageNum }}</button></li>
                        <!-- Numbered pagination buttons. Can be hidden/shown by toggling showPageBtns to true/false -->
                        <li v-if="showFirstLastBtns" class="page-item">
                            <!-- Can be set to show/hide by setting the showFirstLastBtns to true/false -->
                            <button class="page-link" type="button" aria-label="Next" v-on:click="goToPage(pageCount)">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                        <li class="page-item" v-bind:class="{ disabled: currentPageIndex+1 == pageCount || loading }">
                            <button class="page-link" type="button" v-on:click="nextPage">Next</button>
                        </li>
                    </ul>
                </div>

            </nav>
            <div v-if="loading == false" class="api-results-info">
                <p>Total results: <strong>{{ totalCount }}</strong></p>
                <p>Current page: <strong>{{ currentPageIndex+1 }}</strong></p>
            </div>
        </div>
        <div v-if="loading">
            <!-- 	<div class="spinner-grow" role="status"> -->
            <div>
                <img src="/images/non_user/cec-loader.gif" width="31" height="31" alt="Loading..." role="status" />
                <!-- <span class="sr-only">Loading...</span> -->
            </div>
        </div>

        <!-- User editable region -->
        <section>

            <!-- Define your content here -->
            <div class="table-responsive">
                <div v-if="!showSelectedItem" v-for="item in items"
                    class="ranger-event-card card card-item flex-md-row align-items-center">
                    <!--<img class="card-img-top" v-bind:src="'https://www.cheshireeast.gov.uk/' + item.image.asset.sys.uri" >-->
                    <div class="col-12 col-md-4 thumbnail-container d-flex justify-content-center px-2">
                        <img v-if="item.image != null" class="img-thumbnail img-fluid mt-4 m-md-2"
                            v-bind:src="'https://www.cheshireeast.gov.uk/' + item.image.asset.sys.uri + '?width=225&height=150&fit=crop,center'"
                            v-bind:alt="item.title">
                    </div>

                    <div class="card-body col-12 col-md-8 text-center text-md-start ps-md-4 ps-xl-2">
                        <!-- <h2 class="card-title fs-3 mb-4">{{ item.entryTitle }}</h2> -->
                        <button v-on:click="setSelectedItem(item)" role="button"
                            class="ranger-event-title-link-button mb-3">{{ item.entryTitle }}</button>
                        <ul class="list-unstyled list-inline ms-0 ps-0 mb-0">
                            <li class="list-inline-item me-4"><strong>Start:</strong>
                                {{ item.dateStartEnd.from | formatDate }}</li>
                            <li class="list-inline-item"><strong>End:</strong> {{ item.dateStartEnd.to | formatDate }}
                            </li>
                        </ul>
                        <!-- <p class="card-text" v-html="item.description"></p> -->
                        <p><strong>Time:</strong> {{ item.dateStartEnd.from | getTimeOnlyFromDate }} -
                            {{ item.dateStartEnd.to | getTimeOnlyFromDate }}</p>
                        <p>{{item.excerpt}}</p>
                        <!-- <a v-on:click="setSelectedItem(item)" role="button" class="cec-button">View Event<span
                                                    class="visually-hidden">: </span><span class="visually-hidden"
                                                    v-html="item.entryTitle"></span> </a> -->
                    </div>
                </div>
            </div>
        </section> <!-- End of user editable region -->

        <!-- Bottom navigation -->
        <!-- **DO NOT EDIT** -->
        <div v-if="showPaginationBottom && !showSelectedItem" class="mt-1 mb-1">
            <!-- <button v-on:click="previousPage" type="button" class="btn btn-outline-dark" v-bind:class="{ disabled: currentPageIndex == 0 }">Previous</button>
        <button v-on:click="nextPage" type="button" class="btn btn-outline-dark">Next</button> -->
            <nav aria-label="Results data navigation">
                <div class="pagination">
                    <ul class="pagination flex-wrap">
                        <li class="page-item" v-bind:class="{ disabled: currentPageIndex == 0 }"><button
                                class="page-link" type="button" v-on:click="previousPage">Previous</button></li>
                        <li v-if="showFirstLastBtns" class="page-item">
                            <button class="page-link" type="button" aria-label="Next" v-on:click="goToPage(1)">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        <li v-if="showPageBtns" v-for="pageBtn in pageBtns" class="page-item"
                            v-bind:class="{ active: currentPageIndex == pageBtn.pageNum - 1 }"><button class="page-link"
                                type="button" v-on:click="goToPage(pageBtn.pageNum)">{{ pageBtn.pageNum }}</button></li>
                        <li v-if="showFirstLastBtns" class="page-item">
                            <button class="page-link" type="button" aria-label="Next" v-on:click="goToPage(pageCount)">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                        <li class="page-item" v-bind:class="{ disabled: currentPageIndex+1 == pageCount }"><button
                                class="page-link" type="button" v-on:click="nextPage">Next</button></li>
                    </ul>
                </div>

            </nav>
            <div v-if="loading == false" class="api-results-info">
                <p>Total results: <strong>{{ totalCount }}</strong></p>
                <p>Current page: <strong>{{ currentPageIndex+1 }}</strong></p>
            </div>
        </div>
        <div v-if="loading">
            <!-- 	<div class="spinner-grow" role="status"> -->
            <div>
                <img src="/images/non_user/cec-loader.gif" width="31" height="31" alt="Loading..." role="status" />
                <!-- <span class="sr-only">Loading...</span> -->
            </div>
        </div>

        <!-- Selected event details -->

        <div v-if="showSelectedItem" class="selectedItem">
            <button v-on:click="unSetSelectedItem" role="button" class="cec-button cec-button--back">Back to
                results</button>
            <h2 class="selected-item-details--title text-center">{{ selectedItem.title }}</h2>
            <ul class="list-unstyled list-inline ms-0 ps-0 text-center">
                <li class="list-inline-item me-4"><strong>Start:</strong>
                    {{ selectedItem.dateStartEnd.from | formatDate }}</li>
                <li class="list-inline-item"><strong>End:</strong> {{ selectedItem.dateStartEnd.to | formatDate }}
                </li>
            </ul>
            <div class="selected-item-details">
                <div class="row">
                    <div class="col-12">

                        <img v-if="selectedItem.image != null" class="rounded mx-auto d-block featured-img"
                            v-bind:src="'https://www.cheshireeast.gov.uk/' + selectedItem.image.asset.sys.uri"
                            v-bind:alt="selectedItem.title">
                        <hr>
                    </div>
                    <div class="col-lg-6 pb-lg-2">
                        <h3>Description</h3>
                        <div class="selected-item-details--description" v-html="selectedItem.description"></div>
                    </div>
                    <div class="col-lg-6 pb-2">
                        <h3>Details</h3>
                        <p><strong>Time:</strong> {{ selectedItem.dateStartEnd.from | getTimeOnlyFromDate }} -
                            {{ selectedItem.dateStartEnd.to | getTimeOnlyFromDate }}</p>
                        <p><strong>Leader(s):</strong> {{ selectedItem.leaders }}</p>
                        <p><strong>More information:</strong> <span v-html="selectedItem.eventInformation"></span>
                        </p>
                        <p><strong>Tags:</strong>
                            <ul>
                                <li v-for="tag in selectedItem.tags">
                                    {{ tag.name }}
                                </li>
                            </ul>
                        </p>
                        <h3>Meeting point</h3>
                        <p v-html="selectedItem.meetingPoint"></p>
                        <div class="selected-item-details__map">
                            <div id="map" ref="mapDiv">
                                <a target="_blank"
                                    v-bind:href="'https://maps.google.com/maps?q='+ selectedItem.mapLocation.lat + ',' + selectedItem.mapLocation.lon"
                                    class="cec-button cec-button-forward" role="button" aria-pressed="true">Get
                                    Directions <small>(opens new window)</small></a>
                            </div>
                            <div class="share">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li id="selectedEventUrlElem" class="list-group-item">
                                            {{ selectedItem.sys.slug | prependURL }}
                                        </li>
                                        <li class="list-group-item">
                                            <button v-on:click="getShareableLink(selectedItem)" type="button"
                                                aria-pressed="true" class="ranger-event-title-link-button cec-button">
                                                <small>Copy URL to clipboard</small>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <button v-on:click="unSetSelectedItem" role="button" class="cec-button cec-button--back">Back to
                            results</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast Container -->
    <div id="vanilla-toast-container">
        <div id="vanilla-toast" class="default">
            <div id="vanilla-toast-text">some text.</div>
            <span id="vanilla-toast-close-button" style="display: none;">✖</span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#contentTypesContainer',
            data() {
                return {
                    // Content Type Settings
                    // Please change the below settings when using a different content type
                    // In most cases, the URL is the only property to change here before rendering the content above, using the following syntax(example): {{ item.consultantTitle }} within the HTML.
                    url: 'https://cms-chesheast.cloud.contensis.com/api/delivery/projects/Website/contentTypes/rangerEvents/entries/',
                    accessToken: 'QCpZfwnsgnQsyHHB3ID5isS43cZnthj6YoSPtemxFGtcH15I', // API access token, replace if expired
                    linkDepth: 5, // leave at 5 if unsure.
                    pageSize: 20, // number of results per page. Do not leave blank

                    // Optional settings
                    showPageBtns: true, // If set to false, the page buttons will be hidden and instead just display the 'Previous' and 'Next' buttons
                    showFirstLastBtns: false, // Toggle to show/hide the '<<' and '>>' buttons

                    showPaginationTop: true, // Toggle to show/hide the top pagination buttons
                    showPaginationBottom: true, // Toggle to show/hide the top pagination buttons

                    // Specific Listing
                    specificListing: "Tegg's Nose",

                    // **DO NOT EDIT BELOW**
                    numOfPaginationBtns: 0, // number of buttons for paginating the results. Set to 0 to show all.
                    includePageCount: true, // set whether to request the page count parameter for the API calls.
                    items: null, // array for the content types to be appended to. Will be used after the first API call, see 'mounted' hook below.
                    loading: true, // used to determine when to show loading animation. Needs to be set to true initially. Do not change.
                    errored: false,
                    currentPageIndex: 0,
                    totalCount: null, // container for
                    pageCount: null, // container for total page count for API call, value used for pagination
                    pageBtns: [], // Array for page pagination buttons

                    selectedItem: null,
                    showSelectedItem: false
                }
            },
            filters: {
                currencydecimal(value) {
                    return value.toFixed(2)
                },
                formatDate(value) {
                    const monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ];

                    let date = new Date(value);

                    const day = date.getDate();
                    const month = monthNames[date.getMonth()];
                    const year = date.getFullYear();

                    return (day + " " + month + " " + year)
                },
                truncate(string) {
                    // limit to character length
                    return string
                },
                getTimeOnlyFromDate(date) {
                    const d = new Date(date);
                    const hours = d.getHours();
                    const minutes = d.getMinutes();
                    return hours.toString() + ":" + (minutes < 10 ? '0' : '') + minutes.toString();
                },
                prependURL(value) {
                    return location.protocol + '//' + location.host + location.pathname + "?event=" +
                        value;
                }
            },
            methods: {
                getBaseUrl: function () {
                    var url = this.url
                    // Add access token to URL
                    url = url + '?accessToken=' + this.accessToken;
                    // Add link depth to URL
                    url = url + '&linkDepth=' + this.linkDepth;
                    // Add page size to URL
                    url = url + '&pageSize=' + this.pageSize;
                    // Add page count to URL
                    if (this.includePageCount) {
                        url = url + '&totalCount';
                    }
                    url = url + '&pageCount';
                    console.log(url);

                    return url;
                },
                previousPage: function () {
                    if (this.currentPageIndex > 0) {
                        this.loading = true;
                        var prevPageUrl = this.getBaseUrl() + '&pageIndex=' + (this.currentPageIndex - 1);
                        axios
                            .get(
                                prevPageUrl
                            )
                            .then(response => {
                                this.items = response.data.items;
                                this.loading = false;
                                console.log("Success!!");
                                this.currentPageIndex = this.currentPageIndex - 1;
                                this.generatePaginationBtns(this.currentPageIndex);
                                this.loading = false;
                            })
                            .catch(error => {
                                console.log(error)
                                this.errored = true
                            })
                            .finally(() => this.loading = false)
                    }
                },
                nextPage: function () {
                    // Check if next page exceeds page count
                    if (this.currentPageIndex + 1 < this.pageCount) {
                        // Set loading
                        this.loading = true;
                        // API call with pageIndex parameter
                        var nextPageUrl = this.getBaseUrl() + '&pageIndex=' + (this.currentPageIndex + 1);

                        axios
                            .get(
                                nextPageUrl
                            )
                            .then(response => {
                                this.items = response.data.items;
                                this.loading = false;

                                console.log("Success!!");
                                this.currentPageIndex = this.currentPageIndex + 1;
                                this.generatePaginationBtns(this.currentPageIndex);
                                this.loading = false;
                            })
                            .catch(error => {
                                console.log(error)
                                this.errored = true
                            })
                            .finally(() => this.loading = false)

                        console.log("Next page button...");
                    }

                },
                goToPage: function (pageNum) {
                    this.loading = true;
                    var goToPageUrl = this.getBaseUrl() + '&pageIndex=' + (pageNum - 1);

                    axios
                        .get(
                            goToPageUrl
                        )
                        .then(response => {
                            this.items = response.data.items;
                            this.loading = false;

                            console.log("Success!!");
                            this.currentPageIndex = pageNum - 1;
                            this.generatePaginationBtns(this.currentPageIndex);
                            this.loading = false;
                        })
                        .catch(error => {
                            console.log(error)
                            this.errored = true
                        })
                        .finally(() => this.loading = false)
                },
                generatePaginationBtns: function (currentPage) {
                    // Reset pageBtns array, before refreshing the buttons to show.
                    // This is required as a new list of buttons will be generated 
                    this.pageBtns = [];
                    // get current page
                    var currentPageValue = currentPage;
                    for (let index = 0; index < this.pageCount; index++) {
                        this.pageBtns.push({
                            pageNum: index + 1
                        });
                    }
                },
                setSelectedItem: function (item) {
                    this.selectedItem = item;
                    this.showSelectedItem = true;
                    console.log(this.selectedItem);
                    let params = new URLSearchParams(window.location.search);
                    params.delete('event');
                    window.history.pushState('', '', location.protocol + '//' + location.host +
                        location.pathname + "?event=" + item.sys.slug);
                },
                unSetSelectedItem: function () {
                    this.selectedItem = null;
                    this.showSelectedItem = false;
                    this.selectedCategoryOptions = [];
                    let url = document.location.href;
                    window.history.pushState({}, "", url.split("?")[0]);
                },
                getShareableLink(selectedItem) {
                    let params = new URLSearchParams(window.location.search);
                    params.delete('event');
                    navigator.clipboard.writeText(location.protocol + '//' + location.host + location
                        .pathname + "?event=" + selectedItem.sys.slug);
                    vanillaToast.show('Event URL copied to cliboard');
                }
            },
            mounted() {
                axios
                    .get(
                        this.getBaseUrl()
                    )
                    .then(response => {
                        this.items = response.data.items;
                        this.loading = false;
                        this.totalCount = response.data.totalCount;
                        this.pageCount = response.data.pageCount;
                        this.generatePaginationBtns(this.currentPageIndex);
                        console.log("Success!!");
                        console.log(response);
                        console.log(this.items);
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            }
        })
    </script>
</body>

</html>